.rs-datetime{
	max-width:100%;
	display:inline-block;
}
.rs-datetime .rs-datepicker{
	max-width:70%;
	display:inline-block;
}
.ui-datepicker {
	margin-top:2px;
}
.rs-datepicker{
	width:212px;
	max-width:100%;
	position:relative;
}
.ui-datepicker-trigger {
    border: medium none;
    position: absolute;
    right: 1px;
    top: 1px;
	bottom:1px;
	border-left:1px solid #ddd;
	padding:4px 5px 5px 4px;
	cursor:pointer;
	text-indent: -9999px;
	width: 25px;
	background:url("date-trigger.png") no-repeat scroll center center #fff;
}

.rs-datetime .rs-timepicker{
	max-width: 28%;
	display:inline-block;
}
.ui-timepicker {
	margin-top:2px;
}
.rs-timepicker{
	width: 100px;
	max-width:100%;
	position:relative;
}
.ui-timepicker-trigger {
    border: medium none;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
	border-left:1px solid #ddd;
	background:#fff url(time-trigger.png) no-repeat center center;
	text-indent: -9999px;
	width: 25px;
	cursor:pointer;
}