/*
Theme Name: Libero
Theme URI: http://lazathemes.com/
Author: LazaTheme
Author URI: http://lazathemes.com/
Description: Description
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: libero
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready

*/

.single.single-post .breadcrumb {
	display: none;
}

#libero-next-post .post-detail-row
{
	padding-bottom:0px !important;
	padding-top:130px !important;
}
#libero-next-post  .libero-ajax-content  .post-detail-row
{
	border:0px !important;
	padding-top:0px !important;
}