.rs-fileupload .pending-list,
.rs-fileupload .uploaded-list{
	margin:0;
	padding:0;
	clear:both;
}
.rs-fileupload .pending-list.has-file{
	border:1px solid #ccc;
	padding:0 4px 4px;
	background:#fff;
	margin-bottom:10px;
}
.rs-fileupload .uploaded-list.has-file{
	background:#fff;
	margin-bottom:10px;
}
.rs-fileupload .pending-list .rs-file{
	border: 1px solid #ccc;
	list-style:none;
	color:#444;
	height:20px;
	margin-top:4px;
	position:relative;
	overflow:hidden;
	background:#fff;
}

.rs-fileupload .pending-list .file-name{
	float:left;
	padding:0 4px;
	line-height:20px;
}
.rs-fileupload .pending-list .file-size{
	float:right;
	padding:0 24px 0 4px;
	line-height:20px;
}
.rs-fileupload .pending-list .file-progress{
	width:0;
	background:url(loading.gif) #e5e5e5;
	height:20px;	
	box-sizing: border-box;
}
.rs-fileupload .uploading .file-progress{
	border-right:1px solid #ccc;
}
.rs-fileupload .pending-list  .remove-file{
	background: url("sprite.png") no-repeat scroll -48px 0 #fff;
	border-left: 1px solid #ccc;
	cursor: pointer;
	height: 20px;
	outline: medium none;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 0;
	width: 20px;
}
.rs-fileupload .pending-list  .remove-file:hover{
	background-position:-48px -50px;
}

.rs-fileupload.allow-drag-drop .upload-browser{
	text-align:center;
	background: none repeat scroll 0 0 #fff;
    border: 1px dashed #ccc;
    padding: 10px;
	margin-top:10px;
}
.rs-fileupload.allow-drag-drop .upload-browser.dragover{
    border: 1px dashed red;
}
.rs-fileupload.allow-drag-drop .upload-browser p{
	font-size:15px;
	color:#999;
}

.rs-fileupload .uploaded-list .rs-file{
	list-style:none;
	position:relative;
}
.rs-fileupload .display-thumbnail .rs-file{
	float:left;
	width:100px;
	height:100px;
	margin-right:10px;
	margin-bottom:10px;
	background: none repeat scroll 0 0 #eee;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;	
	text-align:center;
}
.rs-fileupload .display-thumbnail .file-name{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	bottom: 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
	color: #4a87b6;
	font-size: 11px;
	font-weight: bold;
	left: 0;
	max-height: 52%;
	overflow:hidden;
	padding: 5px 2px;
	position: absolute;
	right: 0;
	text-align: center;
	word-wrap: break-word;
}
.rs-fileupload .display-thumbnail .file-ext,
.rs-fileupload .display-thumbnail .file-size,
.rs-fileupload .display-thumbnail .has-thumbnail .file-name{
	display:none;
}
.rs-fileupload .display-thumbnail .file-image{
	margin-top:10px;
}
.rs-fileupload .display-thumbnail .has-thumbnail{
	border:1px solid #ccc;
	height:98px;
	width:98px;
}
.rs-fileupload .display-thumbnail .has-thumbnail .file-image{
	width:100%;
	height:100%;
	margin-top:0;
}
.rs-fileupload .display-details .file-ext,
.rs-fileupload .display-details .file-size{
	color:#999;
	font-size:11px;
	text-transform:uppercase;
}
.rs-fileupload .display-details .file-ext{
	margin-left:5px;
}
.rs-fileupload .display-details .file-ext:after{
	content: ' / ';
	display:inline;
}
.rs-fileupload .display-details .rs-file{
	border:1px solid #ccc;
	padding:4px;
	margin-top:4px;
	height:30px;
	background:#f9f9f9;
}
.rs-fileupload .display-details .file-image{
	width:30px;
	height:30px;
	float:left;
}
.rs-fileupload .display-details .file-name{
	color: #4a87b6;
	font-size: 12px;
	font-weight: bold;
	display:block;
	word-wrap: break-word;
	line-height:17px;
	margin-left:35px;
}
.rs-fileupload .uploaded-list .remove-file{
    background: url("sprite.png") no-repeat scroll -47px 0 #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 20px;
	cursor:pointer;
}
.rs-fileupload .display-thumbnail .remove-file{
	top:-9px;
	right:-9px;
}
.rs-fileupload .uploaded-list .remove-file:hover{
	background-position:-47px -50px;
}
.rs-fileupload .uploaded-list .rs-file:hover .remove-file{
	display:block;
}