.rs-control.rs-icons {
    position: relative;
}
.rs-icon-div {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e0e0e0;
    height: 26px;
    margin: 0 6px 0 0;
    width: 150px;
	position: relative;
}
.rs-icons .show-drop {
    background: url("arrow.png") no-repeat scroll center center #fff;
    border-left: 1px solid #ddd;
    height: 26px;
    position: absolute;
    right: 1px;
    top: 0;
    width: 24px;
}
.rs-icons-list {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e0e0e0;
    height: 268px;
    margin-top: 3px;
    overflow-y: scroll;
    position: absolute;
    width: 629px !important;
    z-index: 9;
}
#addtag .rs-icons-list {
    width: auto !important;
	bottom: 27px;
}
.rs-icons-list h4 {
    clear: both;
    display: block;
    font-size: 16px;
    margin: 10px 0 0 10px;
}
.rs-heading-icon_data {
    padding: 0 8px;
	overflow: auto;
}
.rs-icons-list ul li {
    float: left;
    font-size: 16px;
    height: 23px;
    line-height: 20px;
    margin: 2px;
    padding: 4px;
    text-align: center;
    width: 20px;
}
.rs-icons-list ul li:hover {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 1px solid #a6a6a6;
    padding: 3px !important;
}
.rs-icon-div .glyphicon, .rs-icon-div .fa {
    float: left;
    margin: 6px 8px;
}
