/*=======================
Theme: Bloggler - Photo Blog Template
This is the Responsive Query For This Template
Author: JLP Media
Email: themeforces@gmail.com
Version: 1.0
Date Created: Nov. 12, 2014
Latest Updated : Nov. 12, 2014
=======================*/

@media screen and (max-width: 1919px) {
    .libero_recomment_box {
        display: none;
    }
    /* end screen */
}
@media screen and (max-width: 1366px) {
    .libero_header_slider_3 .libero_owl_item_info .libero_owl_item_info_meta time,
    .libero_header_slider_3 .libero_owl_item_info .libero_owl_item_info_meta .libero_owl_excerpt,
    .libero_header_slider_3 .libero_owl_item_info .libero_owl_item_info_meta .libero_owl_footer {
        display: none;
    }
    .libero_header_slider_3 .libero_owl_item_info {
        padding: 0;
        width: 80%;
    }
    .libero_header_slider_3 .libero_owl_item_info .libero_owl_item_info_meta {
        padding: 20px;
    }
    .libero_header_slider_3 .libero_owl_item_info .libero_owl_item_info_meta h4 {
        font-size: 20px;
    }
    /* end screen */
.libero_header_sticky .navbar-toggle{
	margin-top: 24px ;
}
}
@media screen and (max-width: 1120px) {
    .libero_sticky_nowreading {
        border-left: 1px solid #ddd;
        float: none;
        margin: 20px 15px 10px 230px;
        padding: 0 20px 5px;
    }
}
@media screen and (min-width: 768px) {
    .libero-main-menu li:hover > .sub-menu,
    .libero_sticky_logo li:hover > .sub-menu {
        display: block;
        z-index: 999;
        -webkit-animation: 0.3s fadeInDownMenu;
        -moz-animation: 0.3s fadeInDownMenu;
        -ms-animation: 0.3s fadeInDownMenu;
        -o-animation: 0.3s fadeInDownMenu;
        animation: 0.3s fadeInDownMenu;
    }
    .libero-cart-mini:hover .libero_cart_toggle {
        display: block;
        z-index: 999;
        -webkit-animation: 0.3s fadeInDownMenu;
        -moz-animation: 0.3s fadeInDownMenu;
        -ms-animation: 0.3s fadeInDownMenu;
        -o-animation: 0.3s fadeInDownMenu;
        animation: 0.3s fadeInDownMenu;
    }
    /* end screen */
}
@media screen and (max-width: 1230px) {
    .libero-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* end screen */
}
@media screen and (max-width: 1170px) {
	.libero_header_slidershow_owl.owl-theme:hover > .owl-controls .owl-prev, .libero_header_slidershow_owl.owl-theme:hover > .owl-controls .owl-next, .owl-theme.libero_header_slidershow_owl_inner:hover .owl-controls div {
	  opacity: 1;
	}
	.libero_header_slidershow_owl.owl-theme > .owl-controls .owl-prev, .libero_header_slidershow_owl.owl-theme > .owl-controls .owl-next, .owl-theme.libero_header_slidershow_owl_inner .owl-nav div {
	  opacity: 1;
	}
	.libero_header_slidershow_style_1 .libero_header_slidershow_owl > .owl-controls .owl-prev,.libero_header_slidershow_style_1 .libero_header_slidershow_owl > .owl-controls .owl-next,
	.libero_header_slidershow_style_2 .libero_header_slidershow_owl > .owl-controls .owl-prev,.libero_header_slidershow_style_2 .libero_header_slidershow_owl > .owl-controls .owl-next {
	  display: block !important;
	}
    .libero_header_slidershow_owl_inner,
    .libero_header_slidershow_owl .libero_owl_item_info p,
    .libero_header_slidershow_owl .libero_owl_item_info .libero_continue_reading {
        display: none !important;
    }
    .libero_header_slidershow_owl .libero_owl_item_info,
    .libero_header_slidershow_style_2 .libero_owl_item .libero_owl_item_info {
        width: 80%;
		margin: 0px auto;
        padding: 20px;
        top: 50%;
        left: 50%;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }
    .libero-random-post .libero-date{
        display: block;
    }
    .libero_small_post .libero-date {
        padding: 0;
    }
    .libero_small_post .libero-comment::before {
        content: "";
        margin-left: 0;
        margin-right: 0;
    }
    .libero_header_slidershow_style_2 .libero_owl_item > a {
        float: none;
        width: 100%;
		display: block;
    }
    .libero-header-2 .libero-logo,
    .libero-header-5 .libero-logo {
        float: none;
        margin: 10px 0;
        text-align: center;
    }
    .libero_header_slidershow_style_2 .owl-next {
        right: 30px;
    }
    .libero-header-2 .libero-main-menu,
    .libero-header-6 .libero-main-menu,
    .libero-header-5 .libero-main-menu {
        float: none;
        text-align: center;
    }
    .libero-header-6 .libero-search-form {
        float: none;
    }
    .libero-header-6 .libero-topbar-right {
        float: none;
        margin: 0 0 20px;
        text-align: center;
    }
    .libero-main-menu > ul > li {
        padding: 25px;
    }
    .libero_category_style_4 .libero_owl_item_info_meta,
    .libero_header_slider_3 .libero_owl_item_info_meta,
    .libero_header_slider_large_2 .libero_owl_item_info_meta {
        border: 1px solid;
        padding: 25px 20px 50px;
    }
    .libero_header_slider_large_2.owl-theme .owl-controls .owl-dots {
        bottom: 10px;
    }
    .libero_header_slidershow_owl.owl-theme > .owl-controls .owl-prev {
        opacity: 1;
    }
    /* end screen */
}
@media screen and (max-width: 1120px) {
    .libero_sticky_nowreading {
        border-left: 1px solid #ddd;
        float: none;
        margin: 11px 15px 2px 180px;
        padding: 0 20px 5px;
    }
	.libero_category_style_4.owl-theme .owl-controls .owl-nav
	{
	    display: none;	
	}
    /* end screen */
}
@media screen and (max-width: 1080px) {
    .libero-header-1 .libero-logo {
        left: auto;
        margin-left: 0;
        position: relative;
        text-align: center;
    }
    #libero-main-menu {
        text-align: center;
    }
    .libero-main-menu ul.libero-menu-left,
    .libero-main-menu ul.libero-menu-right {
        display: inline-block;
        float: none;
    }
    /* end screen */
}
@media screen and (max-width: 980px) {
    .libero-random-post .libero-comment::before,
    .libero-comment::before {
        content: "" !important;
        margin: 0;
        display: block;
    }
    .content-area article .libero-date {
        padding: 0 0 5px;
    }
    .woocommerce #content div.product.type-product div.summary.entry-summary {
        padding-left: 15px;
        padding-top: 20px;
        width: 100%;
    }
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        padding-right: 15px;
        width: 100%;
    }
    .libero_lasted_news .libero_featured_thumbnail {
        max-height: 100%;
        max-width: none;
        position: relative;
        top: 0;
    }
    .libero_lasted_news .libero_featured_content {
        margin: 30px 0 0;
    }
    .libero-header-4 .libero-main-menu {
        float: none;
    }
    .libero-header-4 .libero-topbar-right {
        display: none;
    }
    /* end screen */
}
@media screen and (max-width: 979px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
		float: none !important;
		width: 100% !important;
	}
	.libero_featured_thumbnail img {
		width: 100%;
	}
	.libero-sidebar-sticky {
		position: static !important;
	}
	.jquery-stickit-spacer {
		display: none !important;
	}
	.libero_category_standar .libero_featured_post {
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
	.libero_category_standar .libero_category_style_4_list_post .libero_featured_content {
		margin-bottom: 0;
	}
	.libero_category_standar.libero_horizontal_5 .libero_featured_post {
		margin-bottom: 10px;
	}
	.libero_category_standar.libero_horizontal_3 .libero_border_right {
		margin-bottom: 30px;
	}
	.libero_category_standar .libero_featured_content {
        margin: 0 0 30px;
    }
    .libero_hottest_title h3.libero_title {
        margin: 0 0 20px;
    }
	.libero_hottest_owl .owl-controls .owl-dots {
		position: static;
	}
	.libero_hottest_owl .owl-dots {
		display: block !important;
		height: 30px;
		overflow: hidden;
	}
	.libero_hottest_owl .owl-controls{
		top: -20px;
		right: 0;
		margin: 0px auto;
	}
	.libero_hottest_owl{
		position: relative;
		padding-top: 30px;
	}
	.libero_horizontal_6 .libero-row {
		border: 0;
	}
	.libero_one_category {
		margin-bottom: 30px;
	}
	.libero-custom-background .entry-header {
		padding-top: 10px;
	}
	.libero_header_slider_large_3 .libero_owl_footer,
	.libero_header_slider_large_3 .libero_owl_excerpt {
		display: none;
	}
	#primary > .container.page-container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 800px) {
	.libero_owl_item_info_meta.text-center > h4 {
        font-size: 15px;
        line-height: 20px;
        margin: 5px 0;
    }
    .libero_category_style_4 .libero_owl_item_info_meta,
    .libero_header_slider_3 .libero_owl_item_info_meta,
    .libero_header_slider_large_2 .libero_owl_item_info_meta {
        border: 0;
        padding: 15px 20px;
    }
    /* end screen */
}
@media screen and (max-width: 767px) {
	.libero-custom-background .entry-header,
	#primary > .container.libero_detail {
		padding-left: 15px;
		padding-right: 15px;
	}
	.libero-custom-background .entry-header {
		margin-bottom: 20px;
	}
	.entry-content p {
		font-size: 14px;
	}
	.libero-author-info {
		margin-left: 0;
	}
	.libero-author-img {
		float: left;
		margin-right: 15px;
		position: static;
	}
	.libero-custom-background .libero-single-content, .libero-custom-background .libero_featured_content {
		padding: 30px 20px;
	}
    .libero_header_sticky {
        display: none !important;
        opacity: 0 !important;
    }
	.no_margin_top .vc_column-inner {
		margin-top: 0 !important;
	}
	.libero-header-6 .libero-nav-menu{
		border: none;
	}
    .libero_category_standar .libero_featured_post {
        padding-bottom: 0;
    }
	.libero_category_standar.libero_horizontal_4 .libero_featured_post {
		padding-bottom: 30px;
	}
    .rs-select-inner {
        position: relative;
        width: 100%;
    }
    .libero_select_layout {
        position: relative;
        text-align: left !important;
    }
    .cart_totals td {
        padding: 10px 0 0 50px !important;
    }
    .cart-subtotal th,
    .order-total th {
        padding: 8px 50px !important;
    }
    .libero-product-maybe-you-like {
        float: none;
        overflow: hidden;
        width: 100%;
    }
    .libero-main-menu ul.libero-menu-left,
    .libero-main-menu ul.libero-menu-right {
        display: block;
    }
    #liber-content.has-sidebar-left,
    .libero_right,
    .libero_left {
        float: none;
    }
    .libero_more_from_cat,
    .libero_more_posts .libero_featured_post.libero_small_post {
        margin: 0 0 30px;
    }
    .libero_detail_title {
        font-size: 25px;
        line-height: 30px;
        margin: 3px 0 11px;
    }
	.rst-inner-content {
		margin-bottom: 30px;
	}
    table {
        display: block;
        overflow-x: auto;
    }
    .libero_contact_box {
        margin: 0 0 30px!important;
    }
    .libero_post_tag.libero_left {
        padding: 0;
        position: relative;
    }
    .libero-before-shop .woocommerce-result-count,
    .libero-before-shop .woocommerce-ordering,
    .libero-before-shop .libero_select_layout {
        color: #838383;
        display: block;
        float: none;
        position: relative;
        text-align: left;
        width: 100%;
    }
    .libero_loadmore {
        margin: 50px auto 30px;
    }
    .libero_products_style_list .libero_content_product {
        display: block;
        margin-bottom: 30px;
        min-height: 372px;
        padding: 0;
        text-align: left;
    }
	.libero-nav-header li a{
		padding-top: 13px !important;
		padding-bottom: 13px !important;
		display: block;
	}
    .libero_products_style_list .libero-product-thumbnail {
        display: inline-block;
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
    }
    .libero_select_layout a {
        margin: 0 12px 0 0;
    }
    .libero-header-3 .libero-main-menu li li a {
        background: #f6f6f6;
    }
    .libero-products li {
        list-style: outside none none;
        text-align: center;
    }
    .libero_content_product {
        display: inline-block;
    }
    .libero-header-3 nav.libero-main-menu {
        margin: 40px 0 0;
    }
    .libero-header-3 .libero-main-menu > ul > li {
        padding: 12px 0;
    }
    .libero-header-6 .libero-topbar-right {
        display: none;
    }
    .libero-header-3 .libero-topbar,
    .libero-header-1 .libero-topbar {
        background-color: #262626;
        min-height: 0;
    }
    .libero-header-3 .libero-main-header .libero-logo {
        left: auto;
        margin: 10px 0;
        position: relative;
        text-align: center;
    }
    .libero-header-3 .libero-main-header {
        padding: 20px 0;
        text-align: center;
    }
    .libero-main-header .libero-cart-mini {
        display: inline-block;
        float: none;
        position: relative;
    }
    .libero-header-3 .libero-search-form {
        border: 1px solid #868686;
        float: none;
        height: auto;
        padding: 5px 12px;
        margin: 15px 0 0;
    }
    .libero-header-3 .libero-nav-menu {
        min-height: 40px;
    }
    .libero-header-3 .navbar-toggle {
        top: 5px;
    }
    .libero_header_slider_large_2.owl-theme .owl-controls .owl-dots,
    .libero-thumbnail-slider .owl-dots {
        bottom: 10px;
    }
    .libero_header_slider_large_2.owl-theme .owl-controls .owl-nav,
    .libero-thumbnail-slider .owl-nav {
        display: none;
    }
    .libero_one_category {
        margin: 0 0 30px!important;
        height: 350px;
        overflow: hidden;
    }
    .libero_one_category > img {
        opacity: 0.9;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        width: 100%;
    }
    .libero-quote blockquote,
    .libero-quote blockquote p {
        font-size: 20px;
        line-height: 25px;
    }
    .libero-quote {
        border: 1px solid;
        margin-bottom: 50px;
        padding: 30px 20px 20px 40px;
        text-align: right;
    }
    .libero-header-4 .libero-logo,
    .libero-header-6 .libero-logo {
        margin: 10px 0;
    }
    .libero-header-6 .navbar-toggle {
        top: 20px;
    }
    .libero-header-6 .libero-main-menu > ul > li {
        padding:  0;
    }
    .libero-header-4 .libero-main-menu a {
        color: #363636;
        font-size: 14px;
    }
    .libero-header-4 nav.libero-main-menu {
        margin-top: 60px;
    }
    .libero-header-4 .navbar-toggle {
        left: 5px;
        margin: 0;
        position: absolute;
        top: 20px;
        z-index: 1;
    }
    .libero-topbar {
        min-height: 0;
    }
    .libero_category_style_4_list_post {
        margin: 10px 0;
    }
    .libero_category_style_4 .owl-nav {
        display: none;
    }
    .wpb_widgetised_column .widget-title,
    .libero_title,
    .libero_sidebar .widget-title,
    .woocommerce-billing-fields h3,
    .checkout.woocommerce-checkout h3,
    .woocommerce > h3.widget-title {
        margin: 30px 0;
    }
    .libero-menu-top {
        float: none;
        font-size: 12px;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .libero-topbar-right {
        float: none;
        text-align: center;
    }
    .libero-topbar-right {
        border-top: 1px solid;
        float: none;
        text-align: center;
    }
    .libero-main-footer .copyright {
        float: none;
        text-align: center;
        margin: 0 0 20px;
    }
    .libero-main-footer .libero-menu-footer {
        float: none;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .libero_hottest_title h3.libero_title {
        margin: 0 0 20px;
    }
    .libero-main-menu {
        padding: 0;
        position: relative;
    }
    .libero-logo,
    .libero-header-2 .libero-logo {
        left: auto;
        margin: 15px 0;
        padding: 0 50px;
        position: relative;
        text-align: center;
    }
    .navbar-toggle {
        left: 5px;
        margin: 0;
        position: absolute;
        top: 25px;
        z-index: 1;
    }
    .libero-main-menu .sub-menu {
        display: block;
        left: 0;
        min-width: auto;
        padding: 0;
        position: relative;
        text-align: left;
        top: auto;
        border: 0;
    }
	.sub-menu .sub-menu{
		padding-left: 20px !important;
	}
	.sub-menu {
		border-top: 1px dotted #e0e0e0 !important;
	}
	.libero-main-menu li li {
        display: block;
        line-height: normal;
        padding: 0;
    }
    .libero-main-menu > ul > li {
        border-bottom: 1px dotted #ccc;
        display: block;
        padding: 0px 15px !important;
        text-align: left;
    }
	.libero-nav-header ul ul.sub-menu.libero-position-right,
    .libero-nav-header ul .sub-menu.libero-position-right {
        left: auto;
        position: relative;
        right: 0;
        top: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #563d7c
    }
	.libero-mega-child-cats{
		padding: 0;
	}
	.libero_featured_owl.owl-theme .owl-controls .owl-nav .owl-next:before,.libero_featured_owl.owl-theme .owl-controls .owl-nav .owl-prev:before{
		line-height: 16px;
	}
	.libero_featured_owl .owl-nav{
		top: -30px;
	}
	.libero_header_slidershow_style_1,.libero_header_slidershow_style_2{
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.owl-theme .owl-controls .owl-nav div{
		width: 40px;
		height: 40px;
		line-height: 38px;
		padding: 0;
		left: 0;
	}
	.widget-slider-posts .owl-theme .owl-controls .owl-nav div{
		left: auto;
		line-height: normal;
	}
	.owl-theme .owl-controls .owl-nav div.owl-next{
		left: auto;
		right: 0;
	}
    .libero_header_sticky {
        display: none !important;
        opacity: 0 !important;
    }
    .libero_category_standar .libero_featured_post {
        padding-bottom: 0;
    }
    .rs-select-inner {
        position: relative;
        width: 100%;
    }
    .libero_select_layout {
        position: relative;
        text-align: left !important;
    }
    .cart_totals td {
        padding: 10px 0 0 50px !important;
    }
    .cart-subtotal th,
    .order-total th {
        padding: 8px 50px !important;
    }
    .libero-product-maybe-you-like {
        float: none;
        overflow: hidden;
        width: 100%;
    }
    .libero-main-menu ul.libero-menu-left,
    .libero-main-menu ul.libero-menu-right {
        display: block;
    }
    #liber-content.has-sidebar-left,
    .libero_right,
    .libero_left {
        float: none;
    }
    .libero_more_from_cat,
    .libero_more_posts .libero_featured_post.libero_small_post {
        margin: 0 0 30px;
    }
    .libero_detail_title {
        font-size: 25px;
        line-height: 30px;
        margin: 3px 0 11px;
    }
    table {
        display: block;
        overflow-x: auto;
    }
    .libero_contact_box {
        margin: 0 0 30px!important;
    }
    .libero_post_tag.libero_left {
        padding: 0;
        position: relative;
    }
    .libero-before-shop .woocommerce-result-count,
    .libero-before-shop .woocommerce-ordering,
    .libero-before-shop .libero_select_layout {
        color: #838383;
        display: block;
        float: none;
        position: relative;
        text-align: left;
        width: 100%;
    }
    .libero_loadmore {
        margin: 50px auto 30px;
    }
    .libero_products_style_list .libero_content_product {
        display: block;
        margin-bottom: 30px;
        min-height: 372px;
        padding: 0;
        text-align: left;
    }
    .libero_products_style_list .libero-product-thumbnail {
        display: inline-block;
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
    }
    .libero_select_layout a {
        margin: 0 12px 0 0;
    }
    .libero-header-3 .libero-main-menu li li a {
        background: #f6f6f6;
    }
    .libero-products li {
        list-style: outside none none;
        text-align: center;
    }
    .libero_content_product {
        display: inline-block;
    }
    .libero-header-3 nav.libero-main-menu {
        margin: 40px 0 0;
    }
    .libero-header-3 .libero-main-menu > ul > li {
        padding: 12px 0;
    }
    .libero-header-6 .libero-topbar-right {
        display: none;
    }
    .libero-header-3 .libero-topbar,
    .libero-header-1 .libero-topbar {
        background-color: #262626;
        min-height: 0;
    }
    .libero-header-3 .libero-main-header .libero-logo {
        left: auto;
        margin: 10px 0;
        position: relative;
        text-align: center;
    }
    .libero-header-3 .libero-main-header {
        padding: 20px 0;
        text-align: center;
    }
    .libero-main-header .libero-cart-mini {
        display: inline-block;
        float: none;
        position: relative;
    }
    .libero-header-3 .libero-search-form {
        border: 1px solid #868686;
        float: none;
        height: auto;
        padding: 5px 12px;
        margin: 15px 0 0;
    }
    .libero-header-3 .libero-nav-menu {
        min-height: 40px;
    }
    .libero-header-3 .navbar-toggle {
        top: 5px;
    }
    .libero_header_slider_large_2.owl-theme .owl-controls .owl-dots,
    .libero-thumbnail-slider .owl-dots {
        bottom: 10px;
    }
    .libero_header_slider_large_2.owl-theme .owl-controls .owl-nav,
    .libero-thumbnail-slider .owl-nav {
        display: none;
    }
    .libero_one_category {
        margin: 0 0 30px!important;
    }
    .libero_one_category > img {
        opacity: 0.9;
        width: 100%;
    }
    .libero-quote blockquote,
    .libero-quote blockquote p {
        font-size: 20px;
        line-height: 25px;
    }
    .libero-quote {
        border: 1px solid;
        margin-bottom: 50px;
        padding: 30px 20px 20px 40px;
        text-align: right;
    }
    .libero-header-4 .libero-logo,
    .libero-header-6 .libero-logo {
        margin: 10px 0;
    }
    .libero-header-6 .navbar-toggle {
        top: 20px;
    }
    .libero-header-6 .libero-main-menu > ul > li {
        padding: 17px 0;
    }
    .libero-header-4 .libero-main-menu a {
        color: #363636;
        font-size: 14px;
    }
	#libero-header {
		min-height: 75px;
	}
    .libero-header-4 .navbar-toggle {
        left: 5px;
        margin: 0;
        position: absolute;
        top: 20px;
        z-index: 1;
    }
    .libero-topbar {
        min-height: 0;
    }
    .libero_title_with_breadcrumb .breadcrumb {
		left: 0;
		right: auto;
		top: 40px;
	}
    .libero_category_style_4_list_post {
        margin: 10px 0;
    }
    .libero_category_style_4 .owl-nav {
        display: none;
    }
    .wpb_widgetised_column .widget-title,
    .libero_title,
    .libero_sidebar .widget-title,
    .woocommerce-billing-fields h3,
    .checkout.woocommerce-checkout h3,
    .woocommerce > h3.widget-title {
        margin: 30px 0;
    }
    .libero-menu-top {
        float: none;
        font-size: 12px;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .libero-topbar-right {
        float: none;
        text-align: center;
    }
    .libero-topbar-right {
        border-top: 1px solid;
        float: none;
        text-align: center;
    }
    .libero-main-footer .copyright {
        float: none;
        text-align: center;
        margin: 0 0 20px;
    }
    .libero-main-footer .libero-menu-footer {
        float: none;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .libero-main-menu {
        padding: 0;
        position: relative;
    }
    .libero-logo,
    .libero-header-2 .libero-logo {
        left: auto;
        margin: 15px 0;
        padding: 0 50px;
        position: relative;
        text-align: center;
    }
    .navbar-toggle {
        left: 5px;
        margin: 0;
        position: absolute;
        top: 25px;
        z-index: 1;
    }
    .libero-main-menu .sub-menu {
        display: block;
        left: 0;
        min-width: auto;
        padding: 0;
        position: relative;
        text-align: left;
        top: auto;
        border: 0;
    }
    .libero-main-menu li li {
        display: block;
        line-height: normal;
        padding: 0;
    }
	.libero-nav-header li a {
		display: block;
		padding-bottom: 13px !important;
		padding-top: 13px !important;
	}
    .libero-main-menu > ul > li {
        border-bottom: 1px dotted #ccc;
        display: block;
        padding: 0px 15px !important;
        text-align: left;
    }
	.sub-menu {
		border-top: 1px dotted #e0e0e0 !important;
	}
    .libero-nav-header ul ul.sub-menu.libero-position-right,
    .libero-nav-header ul .sub-menu.libero-position-right {
        left: auto;
        position: relative;
        right: 0;
        top: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #563d7c
    }
    .libero-main-header.libero-nav-header {
        position: relative;
    }
    .libero-menu-posts-cat {
        display: none;
    }
    .libero-main-menu .libero-mega-menu > .libero-mega-categories.sub-menu {
        background-color: transparent;
        position: static;
    }
    .libero-main-menu .libero-list-cat a {
        font-size: 14px;
        color: #666666;
        border-top: 1px dotted #e0e0e0;
        padding-left: 20px;
        padding-right: 0;
    }
    .libero-main-menu .libero-list-cat a:first-child {
        border: 0;
    }
	.libero-main-menu .libero-list-cat a:first-child {
        border: 0;
    }
    .libero_header_slidershow_style_3 {
        margin-left: -15px;
        margin-right: -15px;
    }
	.wpb_column:last-child .libero_one_category {
        margin-bottom: 0 !important;
    }
	.widget.widget_categories a, 
	.widget_recent_entries li a,
	.widget_meta li a,
	.widget_archive li a,
	.widget_archive li a,
	.widget_meta li a,
	.widget_pages li a,
	.widget_recent_comments li a {
		font-size: 14px;
	}
	.widget.widget_categories li, 
	.widget_recent_entries li, 
	.widget_archive li, 
	.widget_meta li, 
	.widget_archive li, 
	.widget_meta li, 
	.widget_recent_comments li, 
	.widget_pages li, 
	.product-categories li {
		padding-left: 30px;
		font-size: 14px;
	}
	.widget.widget_categories li:before,
	.widget.widget_recent_comments li:before, 
	.widget.widget_pages li:before, 
	.widget.widget_meta li:before, 
	.widget.widget_archive li:before, 
	.widget.widget_meta li:before, 
	.widget.widget_archive li:before, 
	.widget.widget_recent_entries li:before {
		left: 11px;
	}
	.libero-topbar {
		background-color: #fff;
		position: relative;
		z-index: 3;
	}
	#libero-header {position: relative;}
	.libero-header-4.libero-header-border .libero-main-header {
		left: 50px;
		position: absolute;
		right: 50px;
		top: 0;
		z-index: 5;
	}
	.libero-main-menu a {
		font-size: 14px;
	}
    /* end screen */
}
@media screen and (max-width: 540px) {
	.libero_header_slidershow_style_1 .libero_header_slidershow_owl .owl-dots {
	  bottom: -30px !important;
	}
}
	
@media screen and (max-width: 680px) {
	.libero_hottest_title h3.libero_title{
		font-size: 30px;
		line-height: 35px;
	}
	.libero_header_slidershow_style_1 .libero_owl_item,.libero_header_slidershow_style_2 .libero_owl_item ,.libero_header_slider_3 .libero_owl_item {
		height: 320px;
		overflow: hidden;
		position: relative;
	}
	.libero_header_slidershow_style_1 .owl-carousel .owl-item img,.libero_header_slidershow_style_2 .owl-carousel .owl-item img , .libero_header_slidershow_style_3 .owl-carousel .owl-item img {
		left: 50%;
		max-width: 780px !important;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		width: 780px !important;
	}
    .libero_category_style_4 .libero_owl_item_info,
    .libero_header_slider_3 .libero_owl_item_info,
    .libero_header_slider_large_2 .libero_owl_item_info {
        padding: 0;
        width: 90%;
    }
	.libero_header_slidershow_style_3b .libero_owl_item_info {
        padding-bottom: 30px;
		transform: none !important;
    }
	
    .libero_header_slidershow_style_3b .libero_owl_item:hover .libero_owl_item_info {
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
    .libero_header_slidershow_style_3b .libero_owl_excerpt,
    .libero_header_slidershow_style_3b .libero_owl_footer {
        opacity: 0 !important;
		display: none;
    }
	.libero_header_slidershow {
        margin-bottom: 40px !important;
    }
    .libero_category_style_4 .owl-dots {
        bottom: 10px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 10px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        font-size: 12px;
        padding: 10px 0;
    }
    .libero_one_category {
        height: 280px;
    }
    .libero_header_slidershow_style_3 .libero_owl_item {
        height: 300px;
        overflow: hidden;
        position: relative;
    }
    .libero_header_slidershow_style_3 .owl-carousel .owl-item img {
        width: 780px !important;
        max-width: 780px !important;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        position: absolute;
        top: 0;
    }
   
    .libero_header_slidershow_style_3 {
        margin-bottom: 0 !important;
    }
    .libero_header_slidershow_style_3 .libero_owl_item_info {
        position: absolute !important;
        left: 0 !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        width: 80% !important;
        margin: 0px auto !important;
        right: 0 !important;
    }
	.libero_header_slidershow.libero_header_slidershow_style_3b{
		margin-bottom: 0 !important;
	}
	.libero_header_slidershow .owl-nav {
        display: none;
    }
	
    .libero_category_style_4 .owl-dots {
        bottom: 10px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 10px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        font-size: 12px;
        padding: 10px 0;
    }
    /* end screen */
}
@media screen and (max-width: 480px) {
	.libero_one_category {
        height: auto;
    }
	.libero-logo img{
		height: 35px;
		margin-top: -10px;
	}
	.content-area article.libero-classic .entry-title{
		font-size: 22px;
		line-height: 30px;
	}
	.libero_header_slidershow_style_3b .libero_owl_item{
		height: 280px;
		overflow: hidden;
	}
	.libero_header_slidershow_style_3b .libero_owl_item img{
		width: 580px !important;
        max-width: 580px !important;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        position: absolute;
        top: 0;
	}
    .libero_one_category > img {
        top: 0%;
        position: static;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    .libero_category_style_4 .libero_owl_item_info > div,
    .libero_header_slider_3 .libero_owl_item_info > div,
    .libero_header_slider_large_2 .libero_owl_item_info > div,
    .libero_header_slidershow_owl .libero_owl_item_info > div,
    .libero_header_slidershow_style_2 .libero_owl_item .libero_owl_item_info > div {
        padding: 15px;
    }
	.libero_owl_item_info_meta.text-center > h4{
		font-size: 16px;
		line-height: 20px;
	}
	.libero_owl_item_info_meta > time{
		display: none;
	}
    .owl-dots {
        display: none !important;
    }
	.libero-top-footer{
		padding-top: 40px;
	}
    .libero_category_name,
    .libero_owl_item_info_meta > time {
    }
    .libero-topbar-right {
        display: none;
    }
    .libero-menu-top {
        margin: 5px 0;
    }
 
    /* end screen */
}